@model DriverETACloud.Entities.Models.Trip

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OriginLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TripType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TripStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TripID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
